

@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap');

tml, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
    width: 1140px;
    margin: 0 auto;
    background-color: #787129;
    background-image: url(image/29.jpeg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
}


section.text {
    width: 1140px;
    margin: 40px auto; 
    color: orange;
    text-align: left;
    text-decoration: none;
    font-size: 1.5em;
    text-indent: 2em;
    font-family: 'Balsamiq Sans', serif;
    background: rgba(0, 0, 0, 0.5);
    border-width: 3px;
    border-style: solid;
    border-color: green;
}

p {
    margin: 10px;
}

h1{
    color: black;
    font-size: 1.2em;
    font-variant: small-caps;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-variant: bold;
    background-color: rgb(192, 134, 25);
}

h2, h3, #id
{
    color: black;
    font-size: 1.2em;
    font-variant: small-caps;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-variant: bold;
    background-color: rgb(192, 134, 25);
}

span {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.1em;
    font-style: italic;
    font-variant: small-caps;
}

span:hover {
    background-color:rgba(20, 83, 4, 0.946);
}

p.small  {
    font-size: 0.7em;
}

.story li {
    text-align:left;
    list-style: none;
    list-style-image: url(image/title.png);
    list-style-position: inside;
}

/* ul li::after {
    content: "Перейти";
    color: orangered;
    font-size: 0.5em;
} */

ul li a {
    color: rgb(192, 134, 25);
    text-decoration: none;
    transition-property: color;
    transition-duration: .5s;
}

ul li a:hover {
    color:#AF2C1A;
}

/* ul li a:visited {
    color: rgb(238, 219, 111);
} */

#up, #down {
    text-decoration: none;
    color: black;
    transition-property: color;
    transition-duration: .5s;
}

#up:hover,#down:hover {
    color: red;
}

#navigation {
    height: 30px;
    text-align: center;
}
#navigation ul li {
    float: left;
    list-style: none;
    margin: 30px 0px;
    padding-right: 25px;
    position: relative;
}

#navigation ul li a{
    color: black;
    font-family: 'Roboto', sans-serif;
    display: block;
    /* поиграться */
    width: 250px;
    font-size: 23px;
    text-decoration: none;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: ease;
}

#navigation ul li a:hover {
    text-decoration: underline;
    font-size: 24px;
    color: rgb(136, 38, 16);
    cursor: pointer;
    width: 280px;
}

#navigation .dropdown {
    position: absolute;
    top: 100%;
    display: none;
    font-size: 15px;
}

#navigation li:hover .dropdown {
    display: block;
}

#navigation .dropdown li {
    width: 280px;
    padding-left: 0px;
    margin: 1px auto;
}

#navigation .dropdown li a{
    color: rgb(192, 134, 25);
    line-height: 45px;
    font-size: 20px;
    background-color:rgba(0, 0, 0, 0.7);
    text-align: center;
    border: 2px solid rgb(192, 134, 25);
    border-radius: 0px 15px 10px;
}


/* #navigation ul li a:after{
    content: '▼'
} */

#copy {
    text-align: center;
}

#copy ul li {
    float: left;
    list-style: none;
    text-align: left;
    margin: 0px 0px 30px;
    /* height: 50px; */
    padding-right: 25px;
    position: relative;
}

#copy ul li a{
    color: rgb(240, 125, 18);
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 23px;
    width: 250px;
    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;
}

#copy ul li a:hover {
    text-decoration: underline;
    font-size: 24px;
    color: rgb(136, 38, 16);
    cursor: pointer;
    width: 280px;
}

#copy .copynav {
    position: absolute;
    bottom: 100%;
    display: none;
    font-size: 15px;
}

#copy li:hover .copynav{
    display: block;
}

#copy .copynav li {
    width: 280px;
    margin: 10px auto;
}

.copynav li a{
    color: rgb(192, 134, 25);
    line-height: 10px;
    font-size: 20px;
    background-color:rgba(0, 0, 0, 0.7);
    text-align: center;
    border: 2px solid rgb(192, 134, 25);
    border-radius: 10px 0px 15px;
    clear: left;
}

/* #copy ul li a:after{
    content: '▲'
} */

.mevk a{
    color: #2787F5;
}

.meinst a{
    color: #CF2F62;
}

.mefacebook a{
    color:#4064AC;

}

.metelegram a{
    color: #27A2E3;
}

.meyoutube a{
    color:#F70000;
}

.social li {
    list-style: none;
    display: inline-block;
    cursor: pointer;
    padding-right: 15px;
    display: none;
}

ul li {
    list-style: none;
    color:#4064AC;
}

ul li:hover .social li{
    display: inline-block;
}
/* @keyframes bouncing {
    0% {bottom: 0;  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);}
    100% {bottom: 50px; box-shadow: 0 50px 50px rgba(0, 0, 0, 0.1);}
} 

animation: bouncing 0.5s cubic-bezier(0.1, 0.25, 0.1,1) 0s  infinite alternate both; */